@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: white;
  --text-color: black;
  --border-color: #e3e3e3e8;
}

[data-theme="dark"] {
  /* dark theme variables */
  --background-color: black;
  --text-color: white;
  --border-color: #525252c8;
  /* add more variables as needed */
}

/* Ab in variables ko use karein */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all 0.3s ease;
  overflow-x: hidden;
}
/* *{
  transition: all 0.3s ease-in-out;
} */


canvas {
  pointer-events: none;
}

span.growing {
  background-color: #fd2c2a;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}